<!-- templates/email_template.html -->
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    <div class="container">
        {% include 'header.html' %}
        <div class="content">
            {% include 'weather_widget.html' %}
            {% include 'motivational_quote.html' %}
            {% include 'historical_events.html' %}
            {% include 'fun_fact.html' %}
            {% include 'daily_motivation.html' %}
            {% include 'daily_challenge.html' %}
            {% include 'news.html' %}
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
